*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
    color: #323232;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: transparent;
}

input, button {
    border: 0;
}

a {
    font-family: inherit;
    color: inherit;
}

a, button {
    cursor: pointer;
}